/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;

  .wrapper {
    height: 56px;
  }
}

$header-logo-width: 48px;
$header-logo-height: 40px;

.logo {
  /*flex: 0 0 auto;*/
  display: inline-block;
  float: left;
  width: $header-logo-width;
  height: 56px;
  margin-right: 10px;
  background-image: url('/img/oden-logo.png');
  background-size: $header-logo-width $header-logo-height;
  background-repeat: no-repeat;
  background-position: center center;
}

.site-title {
  display: inline-block;
  float: left;
  font-size: 22px;
  line-height: 36px;
  font-weight: normal;
  letter-spacing: -1px;
  margin: 0;
  padding: 10px;

  &,
  &:visited,
  & a,
  & a:visited {
    color: $grey-color-dark;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    .site-title {
      background-image: url('/img/oden-logo@2x.png');
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio: 3) {
    .site-title {
      background-image: url('/img/oden-logo@3x.png');
    }
  }
}

@include media-query($on-laptop) {
  .site-header .wrapper {
    padding: 0 10px;
  }
  .site-title {
    font-size: 20px;
  }
}

@include media-query($on-palm) {
  .site-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 66px;
    font-size: 18px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.site-nav {
  display: inline-block;
  height: 56px;
  float: right;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: 56px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: relative;
    height: 36px;
    margin: 10px 0;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        position: relative;
        width: 18px;
        height: 15px;
        z-index: 2;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      position: absolute;
      top: -1px;
      right: -1px;
      clear: both;
      display: none;
      background-color: $background-color;
      border: 1px solid $grey-color-light;
      border-radius: 5px;
      padding-top: 36px;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      white-space: nowrap;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  font-size: 14px;

  .wrapper {
  }

  .username {
    font-family: $monospace-font-family;
  }
}

.social-media-list {
  display: inline-block;
  width: 50%;
  float: right;
  padding: 0;
  list-style: none;
  margin: 0;
  text-align: right;
}
.copyright {
  display: inline-block;
  width: 50%;
  float: left;
  color: $grey-color;
  line-height: 30px;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;

    h2 {
      margin-bottom: $spacing-unit / 4;
    }
  }

  .post-excerpt {
    color: $grey-color;
    margin-bottom: $spacing-unit / 4;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  font-weight: 500;
}

.post-link {
  display: block;
  font-size: 24px;
}

.post-actions {
  float: right;
  font-size: $small-font-size;

  a {
    margin-left: $spacing-unit;
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;

  .post-excerpt {
    font-size: $base-font-size * 1.25;
    font-style: italic;
    color: $grey-color;
  }
}

.post-title {
  font-size: 175%;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 28px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
}

.playground-runnable {
  position: relative;
  overflow-x: auto;
}

.playground-runnable .run {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background: #eee;
  padding: 5px 10px;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  font-family: $monospace-font-family;
  font-size: 16px;
}
.playground-runnable .run:hover,
.playground-runnable .run:active,
{
  background: #ddd;
}
.playground-runnable .output {
  background-color: #eee;
  margin-bottom: $spacing-unit;
}
.playground-runnable .output.hidden {
  display: none;
}
.playground-runnable .output.error {
  font-size: 13px;
  color: #dd1144;
  background-color: #FBE2E8;
}

@keyframes blink {
  50% { color: transparent }
}

.loader .dot {
  animation: 1s blink infinite
}
.loader .dot:nth-child(2) {
  animation-delay: 250ms
}
.loader .dot:nth-child(3) {
  animation-delay: 500ms
}

/**
 * Start Page
 */
.start.wrapper {

  .description {
    font-size: 200%;
    margin: 2em 0 3em;
    text-align: center;
    font-weight: 300;
  }
}

@include media-query($on-palm) {
  .start.wrapper {
    .features {
      -webkit-flex: 0 0 100%;
      flex: 0 0 100%;
    }
    > .playground-runnable,
    > figure {
      -webkit-flex: 0 0 100%;
      flex: 0 0 100%;
      margin-top: $spacing-unit;
    }
  }
}
