---
layout: page
title: Blog
---

<div>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        {% if post.excerpt %}
        <p class="post-excerpt">
          {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
        </p>

        {% if post.comments %}
        <nav class="post-actions">
          <a class="post-comments-link" href="{{ post.url | prepend: site.baseurl }}#disqus_thread">Comments</a>
        </nav>
        {% endif %}

        {% endif %}
        <span class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }}
          {% if post.author %}
          by
          <a href="{{ post.author.url }}">
            <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author.name }}</span></span>
          </a>
          {% endif %}
        </span>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>

  <script id="dsq-count-scr" src="//oden-lang.disqus.com/count.js" async></script>
</div>
