<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header-start.html %}

    <div class="page-content">
      <div class="wrapper start">

        <p class="description">
        {{ site.description }}
        </p>

        <div class="features">
          <h2>Features</h2>
          <ul>
            <li>Static type system with support for polymorphism</li>
            <li>Simple syntax</li>
            <li>Expressions instead of statements</li>
            <li>Simple interoperability with Go</li>
            <li>
              From Go:
              <ul>
                <li>Static linking</li>
                <li>Cross-compilation</li>
                <li>Goroutines</li>
                <li>Channels</li>
                <li>Library Ecosystem</li>
              </ul>
            </li>
          </ul>
        </div>
{% highlight go %}
package main

import fmt

square :: int -> int
square n -> n * n

twice :: (#a -> #a) -> #a -> #a
twice f x -> f(f(x))

main :: -> ()
main -> let n = twice(square, 2) in {
  fmt.Println("2\x2074 =", n)
}
{% endhighlight %}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
