<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header-start.html %}

    <div class="page-content">
      <div class="wrapper start">

        <p class="description">
        {{ site.description }}
        </p>

        <div class="features">
          <h2>Overview</h2>
          <ul>
            <li>Static type system with support for polymorphism</li>
            <li>Simple syntax (work in progress, expect changes)</li>
            <li>Expressions instead of statements</li>
            <li>Simple interoperability with Go (work in progress)</li>
            <li>
              From Go:
              <ul>
                <li>Static linking</li>
                <li>Cross-compilation</li>
                <li>Goroutines (not done yet)</li>
                <li>Channels (not done yet)</li>
                <li>Library Ecosystem</li>
              </ul>
            </li>
          </ul>
          <h3>Project Status</h3>
          <p>
          Oden is a very young project and a work in progress, barely usable
          for any real-world application at this moment. It is however run in
          a transparent, open-source fashion right from the start, so please
          adjust your expectations accordingly and feel free to <a href="/about/#contributing">join and
          contribute</a>.
          </p>
        </div>
{% highlight go %}
package main

import fmt

square : int -> int
square(n) = n * n

twice : forall a. (a -> a) -> a -> a
twice(f, x) = f(f(x))

main : -> ()
main() = let n = twice(square, 2) in {
  fmt.Println("2\x2074 =", n)
}
{% endhighlight %}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
